
<svg width="306" height="147" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->

 <g>
  <title>background</title>
  <rect fill="#617e93" id="canvas_background" height="149" width="308" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <text font-style="normal" font-weight="normal" stroke="#000" transform="matrix(6.791666507720947,0,0,6.964285850524902,-1091.7291367053986,-778.3393034934998) " xml:space="preserve" text-anchor="start" font-family="Arvo, sans-serif" font-size="12" id="svg_4" y="127.268022" x="170.28397" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="white">{{.texta}}</text>
 </g>
</svg>
